<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KingLottery.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KingLottery.My.MySettings>
            <setting name="NumeroSorteo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>server\casparcg.exe</value>
            </setting>
            <setting name="UseScanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScannerPath" serializeAs="String">
                <value>server\scanner.exe</value>
            </setting>
            <setting name="OpPsHs" serializeAs="String">
                <value>BPT9mH4EF+mdySaXHwMYQ1EApqe84pwxBhJcde+a7DDNI+jHa+z9WmsKaFo8bagAlrWMfN69RZwUXGV32IEwRg==</value>
            </setting>
            <setting name="OpSa" serializeAs="String">
                <value>6n!Jo]9oXQN0n8wVH)M9bA8*SydJnhsq5JJ1iitEUT^%2fvM+6L@l=b5x+y740BeC8=dy]b@kIf6N+OaDGZyMyE@_qEo1%l^Sv#+</value>
            </setting>
            <setting name="AdPsHs" serializeAs="String">
                <value>SWZYGm0pF5nC8b7hur6DLpiJfS5aB7WpUxUmZFSvfFdbpbi9iYvpxzepeFIJJDP1/dqECZfJHSHBdForbo+u+w==</value>
            </setting>
            <setting name="AdSa" serializeAs="String">
                <value>YGXGsEAPL[KK69PDbofk})&lt;vStqLb}Bj4)6)QV1N=hKf2xMuy5D#Ht#0H]w*0*bN=$s^DXv34Ip195+&amp;r%UU=bbKHF#U+#VEF[k*</value>
            </setting>
            <setting name="Bumper1" serializeAs="String">
                <value>Opening</value>
            </setting>
            <setting name="Bumper2" serializeAs="String">
                <value>Intermedio largo</value>
            </setting>
            <setting name="Bumper3" serializeAs="String">
                <value>Loop</value>
            </setting>
            <setting name="Bumper4" serializeAs="String">
                <value>Bumper corto</value>
            </setting>
            <setting name="Bumper5" serializeAs="String">
                <value>Bumper corto</value>
            </setting>
            <setting name="Bumper6" serializeAs="String">
                <value>Bumper corto</value>
            </setting>
            <setting name="Separador1" serializeAs="String">
                <value>Separador_1</value>
            </setting>
            <setting name="Separador2" serializeAs="String">
                <value>Separador_2</value>
            </setting>
            <setting name="Separador3" serializeAs="String">
                <value>Separador_3</value>
            </setting>
            <setting name="Separador4" serializeAs="String">
                <value>Separador_4</value>
            </setting>
            <setting name="Separador5" serializeAs="String">
                <value>Separador_5</value>
            </setting>
            <setting name="Separador6" serializeAs="String">
                <value>Phillipsburg1</value>
            </setting>
            <setting name="RTMP_URL" serializeAs="String">
                <value>rtmp://a.rtmp.youtube.com/live2/Steam_Key_here</value>
            </setting>
            <setting name="StreamPictureSize" serializeAs="String">
                <value>1280x720</value>
            </setting>
            <setting name="StreamVideoBitrate" serializeAs="String">
                <value>2750</value>
            </setting>
            <setting name="LotoPoolAM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Separador7" serializeAs="String">
                <value>Phillipsburg2</value>
            </setting>
            <setting name="Separador8" serializeAs="String">
                <value>Phillipsburg3</value>
            </setting>
            <setting name="KeyerInternal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoMode" serializeAs="String">
                <value>720p2997</value>
            </setting>
        </KingLottery.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>